[Service]
User=root
Group=root
ExecStart=/opt/exporter/kafka_exporter --kafka.server=kafka_ip:kafka_port --web.listen-address=":9308"
ExecStop=/usr/bin/killall kafka_exporter
Restart=on-failure

[Install]
WantedBy=multi-user.target
