[Service]
User=root
Group=root
ExecStart=/opt/exporter/redis_exporter -redis.addr redis_addr -redis.password reids_pass
ExecStop=/usr/bin/killall redis_exporter
Restart=on-failure

[Install]
WantedBy=multi-user.target
