[Service]
User=root
Group=root
DefaultEnvironment='DATA_SOURCE_NAME=oracle_user/oracle_pass@//oracle_host:oracle_port/oracle_service'
ExecStart=/opt/exporter/oracle_exporter --log.level error --web.listen-address 0.0.0.0:9161
ExecStop=ps aux|grep /opt/exporter/oracle_exporter|grep -Ev '(grep|service|systemctl|.sh)'|awk '{print $2}'|xargs kill -9

[Install]
WantedBy=multi-user.target

[Unit]
Description=oracle_exporter
After=network.target 

