[Service]
User=root
Group=root
ExecStart=/usr/sbin/zabbix_agentd -c /etc/zabbix/zabbix_agentd.conf 
ExecStop=ps aux|grep /usr/sbin/zabbix_agentd|grep -v grep|awk '{print $2}'|xargs kill -9

[Install]
WantedBy=multi-user.target

[Unit]
Description=node_exporter
After=network.target 

