[Service]
User=root
Group=root
ExecStart=/opt/exporter/node_exporter/node_exporter --web.listen-address=0.0.0.0:9100 --collector.textfile.directory=/opt/exporter/node_exporter/key/
ExecStop=ps -ef|grep node_exporter|grep -v gitlab|awk '{print $2}'|xargs kill -9

[Install]
WantedBy=multi-user.target

[Unit]
Description=node_exporter
After=network.target 
